<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="login-container p-4"> <!-- Contenedor con fondo y padding -->
        <!-- Título -->
        <h3 class="text-center mb-3">Iniciar Sesión</h3>
        
        <!-- Formulario -->
        <form [formGroup]="authForm">
          <div class="form-group mb-3">
            <label for="email" class="form-label">Correo Electrónico</label>
            <input 
              type="email" 
              class="form-control" 
              id="email" 
              placeholder="Ingresa tu correo electrónico" 
              formControlName="email">
          </div>
          
          <div class="form-group mb-3">
            <label for="password" class="form-label">Contraseña</label>
            <input 
              type="password" 
              class="form-control" 
              id="password" 
              placeholder="Ingresa tu contraseña" 
              formControlName="password">
          </div>
          
          <!-- Error de validación -->
          <div *ngIf="formInvalid" class="alert alert-danger text-center mt-3">
            Correo o Contraseña Incorrectos.
          </div>
          
          <!-- Botón de inicio de sesión -->
          <div class="d-grid mt-4">
            <button class="btn btn-primary btn-block" (click)="login()">Iniciar Sesión</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

