<div class="container">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-md-5">
      <div class="login-container p-5">
        <!-- Logotipo -->
        <div class="text-center mb-4">
          <img src="../../assets/logo.webp" alt="CaseKeeper Logo" class="logo" style="border-radius: 60px;">
        </div>
        
        <!-- Título -->
        <h3 class="text-center mb-4">Bienvenido a CaseKeeper</h3>

        <!-- Formulario -->
        <form [formGroup]="authForm">
          <div class="form-group mb-4">
            <label for="userName" class="form-label">Usuario</label>
            <input 
              type="text" 
              class="form-control" 
              id="userName" 
              placeholder="Ingresa tu Usuario" 
              formControlName="userName">
          </div>

          <div class="form-group mb-4">
            <label for="password" class="form-label">Contraseña</label>
            <input 
              type="password" 
              class="form-control" 
              id="password" 
              placeholder="Ingresa tu contraseña" 
              formControlName="password">
          </div>

          <!-- Error de validación -->
          <div *ngIf="formInvalid" class="alert alert-danger text-center">
            Usuario o Contraseña Incorrectos.
          </div>

          <!-- Botón de inicio de sesión -->
          <div class="d-grid">
            <button class="btn btn-primary btn-block" (click)="login()">Iniciar Sesión</button>
          </div>
        </form>

        <!-- Pie de página
        <div class="text-center mt-4">
          <p class="text-muted small">¿Olvidaste tu contraseña? <a href="#" class="link-primary">Recupérala aquí</a></p>
        </div> -->
      </div>
    </div>
  </div>
</div>
