<div class="container mt-4">

  <div class="header-container justify-content-between">
    <h2 class="mb-3">Gestión de Casos</h2>
    <div>
      <button type="button" class="btn btn-primary" (click)="loadCases()">
        <i class="bi bi-arrow-repeat"></i> Buscar
      </button>
      <button class="btn btn-primary" (click)="openAddCaseModal()">Agregar Caso</button>
      <button class="btn btn-secondary" (click)="changeStatus()">Cambiar Estado</button>
    </div>
  </div>

    <!-- Filtros -->
  <div>
    <form class="row g-3 align-items-end filters-container">

      <div *ngIf="usuario.role === 'admin'" class="col-md-3 position-relative">
        <label for="abogado" class="form-label">Abogado</label>
        <input
          type="text"
          id="abogado"
          [(ngModel)]="filters.lawyerName"
          (input)="searchUsers(filters.lawyerName)"
          class="form-control"
          placeholder="Buscar abogado"
          (blur)="clearFilterIfInvalid()"
          name="lawyer"
          autocomplete="off"
        />
        <ul
          *ngIf="filteredUsers.length > 0"
          class="dropdown-menu show w-100"
          style="max-height: 200px; overflow-y: auto;"
        >
          <li
            *ngFor="let user of filteredUsers"
            (click)="selectUser(user)"
            class="dropdown-item"
          >
            {{ user.fullName }}
          </li>
        </ul>
      </div>
        
        <div class="col-md-3">
          <label for="nombre" class="form-label">Title</label>
          <input
            type="text"
            id="nombre"
            [(ngModel)]="filters.title"
            name="nombreFilter"
            class="form-control"
            placeholder="Enter nombre"
          />
        </div>

        <div class="col-md-3">
          <label for="dateFrom">Desde fecha de creación</label>
          <input type="date" id="dateFrom" class="form-control" [(ngModel)]="filters.dateFrom" name="dateFrom">
        </div>

        <div class="col-md-3">
          <label for="dateTo">Hasta fecha de creación</label>
          <input type="date" id="dateTo" class="form-control" [(ngModel)]="filters.dateTo" name="dateTo">
        </div>
  
        <div class="col-md-3">
          <label for="status" class="form-label">Estado</label>
          <select id="status" class="form-control" [(ngModel)]="filters.status" name="status">
            <option *ngFor="let statu of status" [ngValue]="statu.value">{{statu.name}}</option>
          </select>
        </div>
  
    </form>
  </div>

  <div class="table-container mt-4">
    <app-data-grid #dataGrid
                   [columns]="gridColumns"
                   [data]="cases"
                   [selectMulti]="true"
                   [showSelector]="true"
                   [showEdit]="true"
                   [showDelete]="true"
                   (editEvent)="editRow($event)"
                   (deleteEvent)="deleteCase($event.caseId)"
    ></app-data-grid>
  </div>

  <app-modal #caseModal
    [modalTitle]="(isEditing) ? 'Editar caso' : 'Crear caso'"  
    [modalSize]="'medium'" 
    [modalId]="'create'"
    [showConfirm]="false"
    (modalClose)="currentCaseId = null"
    (confirm)="saveCase()">
  
    <div modal-header>
      <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
    </div>
  
    <div modal-body>
      <form [formGroup]="caseForm">
        <div class="mb-3">
          <label for="title" class="form-label">Título</label>
          <input type="text" id="title" formControlName="title" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Descripción</label>
          <textarea id="description" formControlName="description" class="form-control"></textarea>
        </div>
      </form>
    </div>
  </app-modal>

<app-modal #confirmModal
    [modalTitle]="'Confirmar Eliminación'" 
    [modalSize]="'medium'" 
    [modalId]="'confirmDelete'"
    [showConfirm]="false"
    (confirm)="caseDelete()">

    <div modal-header>
      <button type="button" class="btn-close" (click)="confirmModal.closeModal()" aria-label="Close"></button>
    </div>

    <div modal-body>
      
      <div class="modal-message m-b-5">
        ¿quieres eliminar este caso?
      </div>

    </div>

</app-modal>

