<div class="container mt-4">

  <div class="header-container justify-content-between">
    <h2 class="mb-3">Gestión de Casos</h2>
    <button class="btn btn-primary mb-3" (click)="openAddCaseModal()">Agregar Caso</button>
  </div>

    <!-- Filtros -->
  <div>
    <form class="row g-3 align-items-end filters-container">
        
        <div class="col-md-3">
          <label for="nombre" class="form-label">Title</label>
          <input
            type="text"
            id="nombre"
            [(ngModel)]="filters.title"
            name="nombreFilter"
            class="form-control"
            placeholder="Enter nombre"
          />
        </div>

        <div class="col-md-3">
          <label for="dueDate">Fecha de creación</label>
          <input type="date" id="dueDate" class="form-control" [(ngModel)]="filters.date" name="dateRange">
        </div>
  
        <!-- <div class="col-md-3">
          <label for="usuario" class="form-label">Usuario</label>
          <input
            type="text"
            id="usuario"
            [(ngModel)]="filters.usuario"
            name="usuarioFilter"
            class="form-control"
            placeholder="Enter usuario"
          />
        </div> -->
  
        <div class="col-md-3">
          <label for="status" class="form-label">Status</label>
          <select id="status" class="form-control" [(ngModel)]="filters.status" name="status">
            <option *ngFor="let statu of status" [value]="statu.value">{{statu.name}}</option>
          </select>
        </div>
  
    </form>
  </div>

  <div class="table-container mt-4">
    <app-data-grid #dataGrid
                   [columns]="gridColumns"
                   [data]="cases"
                   [showEdit]="true"
                   [showDelete]="true"
                   (editEvent)="editRow($event)"
                   (deleteEvent)="deleteCase($event.caseId)"
    ></app-data-grid>
  </div>

  <app-modal #caseModal
    [modalTitle]="'Crear Caso'" 
    [modalSize]="'medium'" 
    [modalId]="'create'"
    (modalClose)="closeModal()"
    (confirm)="saveCase()">
  
    <div modal-header>
      <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
    </div>
  
    <div modal-body>
      <form [formGroup]="caseForm">
        <div class="mb-3">
          <label for="title" class="form-label">Título</label>
          <input type="text" id="title" formControlName="title" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Descripción</label>
          <textarea id="description" formControlName="description" class="form-control"></textarea>
        </div>
      </form>
    </div>
  </app-modal>

<app-modal #confirmModal
    [modalTitle]="'Confirmar Eliminación'" 
    [modalSize]="'medium'" 
    [modalId]="'confirmDelete'"
    [showConfirm]="false"
    (confirm)="caseDelete()">

    <div modal-header>
      <button type="button" class="btn-close" (click)="confirmModal.closeModal()" aria-label="Close"></button>
    </div>

    <div modal-body>
      
      <div class="modal-message m-b-5">
        ¿quieres eliminar este caso?
      </div>

    </div>

</app-modal>

