<div class="container mt-4">
  <h1 class="text-center">Gestión de Documentos</h1>

  <!-- Botones de acciones para crear carpeta y subir archivos -->
  <div class="actions mt-3 d-flex justify-content-between">
    <div>
      <button class="btn btn-primary me-2" (click)="openFolderModal()">Nueva Carpeta</button>
      <button class="btn btn-success" *ngIf="currentFolder" (click)="openFileUpload()">Subir Archivos</button>
    </div>
    <button class="btn btn-secondary" *ngIf="currentFolder" (click)="goBack()" [disabled]="folderPath.length === 0">Volver</button>
  </div>

  <div class="filters-container mt-4" *ngIf="!currentFolder">
    <button class="btn btn-outline-primary mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#filtersCollapse" aria-expanded="false" aria-controls="filtersCollapse">
      <i class="bi bi-funnel-fill"></i> Filtros
    </button>
    <div class="collapse" id="filtersCollapse">
      <form class="row g-3 align-items-end">
        <div *ngIf="usuario.role === 'admin'" class="col-md-3 position-relative">
          <label for="abogado" class="form-label">Abogado</label>
          <input
            type="text"
            id="abogado"
            [(ngModel)]="filters.lawyerName"
            (input)="searchUsers(filters.lawyerName)"
            class="form-control"
            placeholder="Buscar abogado"
            (blur)="clearFilterIfInvalid()"
            name="lawyer"
            autocomplete="off"
          />
          <ul
            *ngIf="filteredUsers.length > 0"
            class="dropdown-menu show w-100"
            style="max-height: 200px; overflow-y: auto;"
          >
            <li
              *ngFor="let user of filteredUsers"
              (click)="selectUser(user)"
              class="dropdown-item"
            >
              {{ user.fullName }}
            </li>
          </ul>
        </div>
  
        <div class="col-md-3">
          <label for="nombre" class="form-label">Título</label>
          <input
            type="text"
            id="nombre"
            [(ngModel)]="filters.title"
            name="nombreFilter"
            class="form-control"
            placeholder="Ingrese el título"
          />
        </div>
  
        <div class="col-md-3">
          <label for="dateFrom">Desde Fecha de Creación</label>
          <input type="date" id="dateFrom" class="form-control" [(ngModel)]="filters.dateFrom" name="dateFrom">
        </div>
  
        <div class="col-md-3">
          <label for="dateTo">Hasta Fecha de Creación</label>
          <input type="date" id="dateTo" class="form-control" [(ngModel)]="filters.dateTo" name="dateTo">
        </div>
  
        <div class="col-md-3">
          <label for="status" class="form-label">Estado</label>
          <select id="status" class="form-control" [(ngModel)]="filters.status" name="status">
            <option *ngFor="let statu of status" [ngValue]="statu.value">{{statu.name}}</option>
          </select>
        </div>
  
        <div class="col-md-3">
          <button type="button" class="btn btn-primary" (click)="loadCases()">
            <i class="bi bi-arrow-repeat"></i> Buscar
          </button>
        </div>
      </form>
    </div>
  </div>
  

  <!-- Breadcrumb para navegación en las carpetas -->
  <nav aria-label="breadcrumb" class="mt-3">
    <ol class="breadcrumb">
      <li *ngFor="let folder of folderPath; let last = last" class="breadcrumb-item" [ngClass]="{ 'active': last }" [attr.aria-current]="last ? 'page' : null">
        {{ folder.name }}
      </li>
    </ol>
  </nav>

  <!-- Modal para crear una nueva carpeta -->
  <div class="modal" tabindex="-1" [ngClass]="{'show d-block': isFolderModalOpen}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Nueva Carpeta</h5>
          <button type="button" class="btn-close" (click)="closeFolderModal()"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="folderForm">
            <div class="mb-3">
              <div class="d-flex justify-content-between">
                <label for="folderName">Nombre de la carpeta</label>
                <small class="text-danger" *ngIf="formInvalid('folderName')">Nombre requerido</small>
              </div>              
              <input type="text" id="folderName" formControlName="folderName" class="form-control" />
            </div>
            <div class="mb-3">
              <div class="d-flex justify-content-between">
                <label for="caseSelector">Seleccionar Caso</label>
                <small class="text-danger" *ngIf="formInvalid('caseId')">Caso requerido</small>
              </div>
              <select id="caseSelector" formControlName="caseId" class="form-select">
                <option *ngFor="let case of cases" [value]="case.caseId">{{ case.title }}</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeFolderModal()">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="createFolder()">Crear</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Área de documentos y carpetas -->
  <div class="document-area mt-4">
    <h2>Carpetas</h2>

    <div id="accordion" *ngIf="!folderPath.length">
      <!-- Caso 1 -->
      <div class="card" *ngFor="let case of cases; let i=index">
        <div class="card-header" [id]="'heading' + i">
          
          <h5 class="mb-0">

            <button 
                   class="accordion-toggle btn d-flex justify-content-between w-100" 
                   [class.expanded]="case.isOpen"
                   data-bs-toggle="collapse"
                   [attr.data-bs-target]="'#collapse' + i"
                   [attr.aria-expanded]="case.isOpen ? 'true' : 'false'"
                   aria-controls="collapseOne"
                   (click)="handleCollapseClick(case, $event)">
            <span>{{ case.title }}</span>
            <i [ngClass]="{'bi-caret-down-fill': case.isOpen, 'bi-caret-up-fill': !case.isOpen}" class="ms-2"></i>
          </button>          
          </h5>

        </div>

        <div [id]="'collapse' + i" class="collapse" [class.show]="case.isOpen" aria-labelledby="'heading' + i" data-bs-parent="#accordion">
          
          <div class="row m-2 "> 

            <!-- Carpetas --> 
            <div class="col-md-3" *ngFor="let folder of currentFolders"> 

              <div class="card folder-card mt-3" (click)="navigateToFolder(folder)"> 

                <div class="card-body text-center"> 
                  <i class="bi bi-folder-fill folder-icon"></i> 
                  <h5 class="card-title">{{ folder.name }}</h5> 

                  <!-- Menú de tres puntos --> 

                  <div class="dropdown position-absolute top-0 end-0 p-2" style="z-index: 1000;"> 
                     
                    <button class="btn btn-link" type="button" data-bs-toggle="dropdown" aria-expanded="false" 
                      (click)="$event.stopPropagation()"> <!-- Evita la propagación del clic --> 
                      <i class="bi bi-three-dots-vertical"></i> 
                    </button> 

                    <ul class="dropdown-menu"> 

                      <li><button class="dropdown-item" (click)="openConfirmModal(folder, 'folder'); $event.stopPropagation()">Eliminar Carpeta</button></li> 

                    </ul> 
       
                  </div>

                </div> 

              </div> 
               
            </div>

          </div> 
        </div>
      </div>
      
    </div>

    <div class="row" *ngIf="folderPath.length"> 

      <!-- Carpetas --> 

      <div class="col-md-3" *ngFor="let folder of currentFolders"> 

        <div class="card folder-card mt-3" (click)="navigateToFolder(folder)"> 

          <div class="card-body text-center"> 

            <i class="bi bi-folder-fill folder-icon"></i> 

            <h5 class="card-title">{{ folder.name }}</h5> 


            <!-- Menú de tres puntos --> 

            <div class="dropdown position-absolute top-0 end-0 p-2" style="z-index: 1000;"> 

              <button class="btn btn-link dropdown-toggle" type="button" id="folderMenu"  
                data-bs-toggle="dropdown" aria-expanded="false"  
                (click)="$event.stopPropagation()"> <!-- Evita la propagación del clic --> 
                <i class="bi bi-three-dots-vertical"></i> 
              </button> 

              <ul class="dropdown-menu" aria-labelledby="folderMenu"> 

                <li><button class="dropdown-item" (click)="openConfirmModal(folder, 'folder'); $event.stopPropagation()">Eliminar Carpeta</button></li> 

              </ul> 

 
            </div>

          </div> 

        </div> 
         
      </div>

    </div> 

    <h2 class="mt-4" *ngIf="currentFiles.length">Archivos</h2>
    <div class="row mt-4">
      <!-- Archivos -->
      <div class="col-md-3" *ngFor="let file of currentFiles">
        <div class="card file-card mt-3">
          <div class="card-body text-center">
            <i [ngClass]="getFileIconClass(file.fileType)" class="file-icon"></i>
            <h6 class="card-title">{{ file.name }}</h6>
            <div class="dropdown position-absolute top-0 end-0 p-2"> 
              <button class="btn btn-link" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
              </button>
              <ul class="dropdown-menu">
                <li><button class="dropdown-item" (click)="openConfirmModal(file.documentId, 'file')">Eliminar Archivo</button></li>
                <li><button class="dropdown-item" (click)="downloadFile(file)">Descargar Archivo</button></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!currentFolders.length && !currentFiles.length && folderPath.length" class="d-flex justify-content-center align-items-center" style="height: 50vh;">
      <img src="../../assets/carpetas_vacias.jpg" alt="Carpeta Vacía" class="img-fluid" style="max-width: 70%; max-height: 70%; object-fit: contain;">
    </div>

    <div *ngIf="currentFileUrl" class="mt-4">
      <h5>Vista Previa del Archivo</h5>
      <iframe [src]="currentFileUrl | safeUrl" width="100%" height="480" class="border"></iframe>
    </div>
  </div>

  <!-- Modal para subir archivos -->
  <!-- <div class="modal" tabindex="-1" [ngClass]="{'show d-block': isFileUploadOpen}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Subir Archivos</h5>
          <button type="button" class="btn-close" (click)="closeFileUpload()"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="uploadForm" (ngSubmit)="uploadFile()">
            <div class="mb-3">
              <label for="fileTitle" class="form-label">Título del Archivo</label>
              <input type="text" id="fileTitle" formControlName="title" class="form-control" placeholder="Escribe el título del archivo" />
            </div>
            <div class="mb-3">
              <input type="file" (change)="onFileSelected($event)" class="form-control" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeFileUpload()">Cancelar</button>
          <button type="button" class="btn btn-primary" (click)="uploadFile()" [disabled]="uploadForm.invalid || !selectedFile">Subir Archivo</button>
        </div>
      </div>
    </div>
  </div> -->

</div>

  <app-modal #confirmModal
      [modalTitle]="'Confirmar Eliminación'" 
      [modalSize]="'medium'" 
      [modalId]="'confirmDelete'"
      [showConfirm]="false"
      (confirm)="confirmDelete()">
  
      <div modal-header>
        <button type="button" class="btn-close" (click)="confirmModal.closeModal()" aria-label="Close"></button>
      </div>
  
      <div modal-body>
        
        <div class="modal-message m-b-5">
          {{(type === 'folder') ? '¿quieres eliminar esta carpeta?' : '¿quieres eliminar este archivo?'}}
        </div>
  
      </div>
  
  </app-modal>

  <app-modal #fileUploadModal
    [modalTitle]="'Subir Archivo'" 
    [modalSize]="'medium'" 
    [modalId]="'create'"
    (modalClose)="closeFileUpload()"
    (confirm)="uploadFile()">

  <div modal-header>
    <button type="button" class="btn-close" (click)="fileUploadModal.closeModal();" aria-label="Close"></button>
  </div>

  <div modal-body>
  
    <form [formGroup]="uploadForm">
      <div class="mb-3">
        <label for="fileTitle" class="form-label">Título del Archivo</label>
        <input type="text" id="fileTitle" formControlName="title" class="form-control" placeholder="Escribe el título del archivo" />
      </div>
      <div class="mb-3">
        <input type="file" (change)="onFileSelected($event)" class="form-control" />
      </div>
    </form>

  </div>

</app-modal>

